@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inknut Antiqua', serif;
  }

  body {
    @apply bg-gray-50;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

/* Estilos customizados */
.rounded-container {
  border-radius: 6%;
}

@media (max-width: 768px) {
  .rounded-container {
    border-radius: 12px;
  }
}
